div {
    padding: 50px;
    margin: 10px;
}

.borda{
    border: 10px dashed black;
}

#primeiro{
    background-color: #ccc;
}

#segundo{
    background-image: url(naruto-new-anime-2025-announcement.avif);
}

#terceiro{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-position: center;
    background-repeat: no-repeat;
}
#quarto{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-size: cover;
}

#quinta{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-size: cover;
    background-attachment: fixed;
}

#sexto{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-origin: padding-box;
    background-repeat: no-repeat;
}

#setimo{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-origin: border-box;
    background-repeat: no-repeat;
}

#oitavo{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-repeat: no-repeat;
    background-origin: content-box;
}

#nono{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-clip: padding-box;
    background-repeat: no-repeat;
}

#decimo{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-clip: border-box;
    background-repeat: no-repeat;
}

#onze{
    background-image: url(naruto-new-anime-2025-announcement.avif);
    background-repeat: no-repeat;
    background-clip: content-box;
}

#doze{
    background: black url(naruto-new-anime-2025-announcement.avif) center no-repeat 500px;
}